/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

:root {
  --color-black: #222;
  --color-white: #fff;
}

.dark {
  --color-black: #fff;
  --color-white: #222;
}

body {
  background: var(--color-white);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 6%;
}

.nav .logo {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-black);
}

.nav .links a {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  background: var(--color-black);
  color: var(--color-white);
  padding: 5px 15px;
  margin: 0 8px;
  border-radius: 20px;
  transition: 0.5s;
}

.nav .links a:hover {
  transform: translateY(-5px);
}

.nav .toggle-btn {
  width: 50px;
  height: 25px;
  background: #4070f4;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.nav .toggle-btn::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
  transition: 0.5s;
}

body.dark .nav .toggle-btn::before {
  left: 28px;
}

.home {
  height: 100vh;
  width: 100%;
  background: url(bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px 6%;
}

.home .content {
  max-width: 50%;
}

.home .content h1 {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4070f4;
  line-height: 1.2;
}

.home .content p {
  max-width: 90%;
  color: var(--color-black);
}

.home .content .input-box {
  width: 90%;
  height: 60px;
  margin-top: 30px;
  border: 2px solid var(--color-black);
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-box input {
  width: 65%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 18px;
  color: var(--color-black);
}

.input-box input::placeholder {
  color: #999;
}

.input-box .btn {
  width: 30%;
  height: 100%;
  background: #4070f4;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s ease;
}

.input-box .btn:hover {
  filter: brightness(0.9);
}

.content .icons {
  position: absolute;
  bottom: 10%;
}

.icons a {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: var(--color-black);
  color: var(--color-white);
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.icons a:hover {
  width: 200px;
}

.icons a i {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.icons a:hover i {
  background: #4070f4;
  color: #fff;
}

.icons a span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
